<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title,remove)" th:remove="${remove}">
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>[[${title}]]</title>
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/bankinfo.css}">
	<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"> 
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.1/css/all.min.css}" />
	
	<script defer th:src="@{/js/common_list.js}"></script>
	<script defer th:inline="javascript" th:src="@{/js/toastMessage.js}"></script>
</head>
<body>
		<!-- for toast(notification) message -->
	 <div th:fragment="toast_fragment">
	 	<div class="toast justify-content-center text-white bg-success "
			role="alert" aria-live="polite" aria-atomic="true"
			data-bs-delay="10000" style="position: absolute; top: 0; right: 0"
			th:if="${message != null}">
			<div role="alert" aria-live="assertive" aria-atomic="true">
				<div class="d-flex">
					<div class="toast-body">
						<span id="toastMessage" th:text="${message}"> </span>
					</div>
					<button type="button" class="btn-close me-2 m-auto"
						data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
			</div>
		</div>

	 </div>
	
	<!-- fragment for page footer -->
	<div th:fragment="footer" class="footer">
		<p>Ec Control Panel - Copyright &copy; ECBank</p>
	</div>


</body>
</html>