<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{fragments :: page_head('officer', 'none')}">
</head>
<body class="page-body">
	
<!--   	<div th:replace="fragments/sidebar"></div> -->
	<div class="container ">
	<!-- Hidden form for logout -->
		<form th:action="@{/logout}" method="post" name="logoutForm" th:hidden="true">
			<input type="submit" />
		</form>
		
		
			<nav class="nav-logout">
			<div class="logout"><a href="" id="logoutLink" onclick="logout()">Logout</a></div>
		</nav>
		
		<h2> Field Officers Details</h2>
		
		<section class="section-home">
			<p>Something here</p>
		
		</section>
		
		<div th:replace="~{fragments :: footer}"></div>
	</div>
	<script>
	$(document).ready(function(){
 		logout("#logoutLink");
 	})
 	</script>
 	<script th:src="@{/js/common_list.js}"></script>
</body>
</html>